[mysqld]
bind-address=0.0.0.0

#エラーログの確認
log-error=/var/log/mysql/error.log

#クエリログを表示
general_log=1
general_log_file=/var/log/mysql/query.log

# basic
datadir=/usr/local/var/mysql
tmpdir=/tmp
character-set-server=utf8
default-storage-engine = InnoDB
innodb_buffer_pool_size = 128M

[client]
default-character-set=utf8